@model UrlShortener.Models.UrlToShorten

@section Scripts{
    <script src="~/js/urlShortener.js"></script>


    <script>
        urlShortener.urlShortener.init();
    </script>
}

<div class="container-sm">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            @using (Html.BeginForm(
       "Shorten",
       "ShortUrl",
       FormMethod.Post,
       new
       {
           autocomplete = "off",
           id = "url-shortener",
           aria_label = "url shortener",
           role = "form",
           @class = "my-2"
       }))
            {
                @Html.ValidationMessageFor(x => x.Url, "", new
               {
                   @class = "text-danger"
               })

                @Html.TextBoxFor(x => x.Url, new
                {
                    type = "text",
                    aria_label = "long url",
                    @class = "form-control",
                    id = "long-url",
                    placeholder = "Long URL"
                })


                <button type="submit" class="btn btn-primary mt-2">Get Short URL</button>
            }
        </div>
        <div class="col-4"></div>
    </div>



</div>
